<div id="formQuickView" class="form_quick_view hidden">
    <div class="quickview_loading hidden">
        <div class="load absolute ">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block; shape-rendering: auto;" width="50px" height="50px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <path d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#1d0e0b" stroke="none">
                <animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="0 50 51;360 50 51"></animateTransform>
                </path>
            </svg>
        </div>
    </div>
    <button class="btn btn_close_quickview">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M18 6L6 18" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 6L18 18" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>

    <div class="form_content">
        <div class="form_content_left"></div>

        <div class="form_content_right">
            <div class="content_title">
                <h3 class="title_product">Razia</h3>
                <div class="content_title_price">
                    <span class="price_sale hidden">$100.00</span>
                    <span class="price_regular">$100.00</span>
                </div>
            </div>

            <div class="content_variants"></div>
            <div class="content_quantity">
                <h4>Quantity</h4>
                <div class="content_quantity_atc">
                    <div class="button-change-qty-items" data-id="">
                        <span class="product-minus minus qty-button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <svg class="w-4 h-4" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.5 8H3.5" stroke="#464951" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
        
                        <input type="number" id="Quantity-" name="updates[]" value="1" min="0" pattern="[0-9]*" style="padding:0" data-id="" class="product-form__input text-sm product-form__input--quantity block" data-quantity-input="">
        
                        <span class="product-plus plus qty-button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <svg class="w-4 h-4" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 3.5V12.5" stroke="#464951" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M12.5 8H3.5" stroke="#464951" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </div>

                    <button class="btn btn-primary btn_quickview_ATC">Add to cart</button>
                </div>
            </div>
            <button class="btn btn-primary btn_buy_it_now">Buy it now</button>
            <div class="content_infor">
                <p>Availability: <span>In stock</span></p>
                <p>Product Type: <span>Clit sucking vibrator</span></p>
                <p>
                    <a href="#">
                        View full detail
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" fill="none">
                            <path d="M1 12L25 12" stroke="#1B1B1B" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18 5L25 12L18 19" stroke="#1B1B1B" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>