<div class="{{ section.class }}">
    <div class="container">
        <div class="main-blog-list">
        </div>
            
    </div>
</div>

{% schema %}
    {
        "name": "Main Blogs List",
        "class": "main-blog-list",
        "settings": [
            {
                "type": "header",
                "content": "Section Customize"
            }
        ],
        "blocks": [
            {
                "type": "image-text",
                "name": "Image with Text",
                "settings": [
                    {
                        "type": "checkbox",
                        "id": "image_position",
                        "label": "Image Position Left",
                        "default": true
                    },
                    {
                        "type": "header",
                        "content": "Image Customize"
                    },
                    {
                        "type": "image_picker",
                        "id": "block_image",
                        "label": "Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "block_image_bg_left",
                        "label": "Image Background Left"
                    },
                    {
                        "type": "header",
                        "content": "Text Customize"
                    },
                    {
                        "type": "image_picker",
                        "id": "block_image_logo",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "block_title",
                        "label": "Title",
                        "default": "The Hunnybee difference"
                    },
                    {
                        "type": "richtext",
                        "id": "block_description",
                        "label": "Description",
                        "default": "<p></p>"
                    },
                    {
                        "type": "image_picker",
                        "id": "block_image_bg_right",
                        "label": "Image Background Right"
                    },
                    {
                        "type": "image_picker",
                        "id": "block_image_bg_right_default",
                        "label": "Image Background Default"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "About List Block"
            }
        ]
    }
{% endschema %}
