/* rchange
*/
@media (min-width: 1200px)  {
  .home-banner .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #home_product_list .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .home_about_us {
    gap: 0;
  }

  .home_about_us {
    display: flex;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    padding-top: 24px;
    align-items: flex-end;
  }
  .home_about_us .left {
    width: 50%;
    padding: 0 40px 0 0;
    margin: 0;
  }
  .home_about_us .right {
    padding: 40px 0 40px 40px;
    width: 50%;
    margin: 0;
  }
  .home-slide .container, .home_sexual_health_res{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
}
@media (min-width: 1441px)  {
  .home-banner .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
}



/* layout mobile*/
@media (max-width: 320px){
  .home-banner .container,.home_sexual_health_res,  .home-slide .container {
    padding: 0 !important;
  }
  .
}
@media (max-width: 480px){ 
  .home-banner .container, .home_sexual_health_res , .home-slide .container {
     padding: 0 !important;
  }
}
@media (max-width: 600px){
  .home-banner .container,.home_sexual_health_res,  .home-slide .container {
    padding: 0 !important;
  }
}
@media (max-width: 768px){
  .home-banner .container,.home_sexual_health_res,  .home-slide .container {
    padding: 0 !important;
  }
}
@media (max-width: 800px){
  .home-banner .container,.home_sexual_health_res,  .home-slide .container {
    padding: 0 !important;
  }
}
@media (max-width: 1024px){
  .home-banner .container,.home_sexual_health_res,  .home-slide .container {
    padding: 0 !important;
  }
   .home_about_us {
    gap: 0;
  }

  .home_about_us {
    display: flex;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    padding-top: 24px;
    align-items: flex-end;
  }
  .home_about_us .left {
    width: 50%;
    padding: 0 40px 0 0;
    margin: 0;
  }
  .home_about_us .right {
    padding: 40px 0 40px 40px;
    width: 50%;
    margin: 0;
  }
  .home-slide .container, .home_sexual_health_res{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 1025px){
  .home-banner .container,.home_sexual_health_res,  .home-slide .container {
    padding: 0 !important;
  }
}
