/* rchange
*/
@media (min-width: 1200px)  {
  .home-banner .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #home_product_list .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .home_about_us {
    gap: 0;
  }

  .home_about_us {
    display: flex;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    padding-top: 24px;
    align-items: flex-end;
  }
  .home_about_us .left {
    width: 50%;
    padding: 0 40px 0 0;
    margin: 0;
  }
  .home_about_us .right {
    padding: 40px 0 40px 40px;
    width: 50%;
    margin: 0;
  }
  .home-slide .container, .home_sexual_health_res{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
}
@media (min-width: 1441px)  {
  .home-banner .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
}



/* layout mobile*/
@media (max-width: 320px){
  .home-banner .container,.home_sexual_health_res,  .home-slide .container {
    padding: 0 !important;
  }
  .banner_text__content_logo {
    align-items: flex-start;
  }
  .newsletter_box .box_email {
    flex-flow: wrap;
  }
  .block_content_menu .menu {
    gap: 16px;
    text-align: center;
}
}
@media (max-width: 480px){ 
  .home-banner .container, .home_sexual_health_res , .home-slide .container {
     padding: 0 !important;
  }
  .banner_text__content_logo {
    align-items: flex-start;
  }
  .footer__content-bottom .footer__content-bottom-wrapper {
      display: block;
      padding-bottom: 24px;
  }
  
}
@media (max-width: 600px){
  .home-banner .container,.home_sexual_health_res,  .home-slide .container {
    padding: 0 !important;
  }
  .banner_text__content_logo {
    align-items: flex-start;
  }
}
@media (max-width: 768px){
  .home-banner .container,.home_sexual_health_res,  .home-slide .container {
    padding: 0 !important;
  }
  .banner_text__content_logo {
    align-items: flex-start;
  }
  .section-header .header-wrapper .header--middle-left {
    padding: 16px;
  }
  .header__heading-logo {
    height: 34px;
  }
  .section_about_text_image .sub_text,  .section_about_text_image .right {
    padding-right: 16px;
  }
  .section_about_text_image .sub_text p {
    font-size: 18px;
  }
  .block_item .right {
    padding: 24px 25.66px;
  }
  .shopify-section-group-footer-group .footer {
    padding-bottom: 40px;
  }
  .footer-home-indicator-mobile{
    display: block;
    margin: 0 auto;
    height: 34px;    
    text-align: center;
    padding-top: 30px;
  }
  .home-indicator{
    display: inline-block; 
    width: 134px;
    height: 5px;
    color: #ffffff;
    background: #ffffff;
    border-radius: 10px;
    margin-top: 21px;
  }
  /* .main-blog.page-width{
    display: block !important;
  } */
  .slick_product_image_mobile .slick-list.draggable {
    height: 430px;
  }
  .slick_product_image_mobile .item_image img {
    height: 430px;
  }
  .product.product--thumbnail{
    padding: 0;  
  }
   .product.product--thumbnail .product__info-wrapper{
    padding-left: 16px!important;
    padding-right: 16px !important;
  }
  .box_section_product_tabs .mobile .accordion.active .summary{
     border-bottom: none;
  }
  .box_section_product_tabs .mobile .accordion.active .animation_common {
    padding-bottom: 16px !important;
  }
  accordion-controller.accordion.block.w-full.active {
    border-bottom: 1px solid var(--grey);
    padding-bottom: 16px !important;    
  }
  accordion-controller.accordion.box_product_reviews.active {
    border-bottom: none !important;
  }
  .blog_banner {
    gap: 40px;
    padding: 50px 0;
  }
  .blog_banner_left__text h4 .hide-mb{
    display: none;
  }
  .blog_banner_left__text h3 .hide-desktop{    
    text-transform: lowercase !important;
  }
  
}
@media (max-width: 800px){
  .home-banner .container,.home_sexual_health_res,  .home-slide .container {
    padding: 0 !important;
  }
  .banner_text__content_logo {
    align-items: flex-start;
  }
  .blog_banner_left__text h4 .hide-mb{
    display: none;
  }
  .blog_banner_left__text h3 .hide-desktop{    
    text-transform: lowercase !important;
  }
}
@media (max-width: 1024px){
  .home-banner .container,.home_sexual_health_res,  .home-slide .container {
    padding: 0 !important;
  }
   .home_about_us {
    display: flex;
  }
  .home_about_us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .home_about_us .left {
    width: inherit !important;
    height: auto;
    padding-left: 10px;
  }
  .page-contact .section-template--21480173863223__main-padding {
    padding-top: 27px !important;
    padding-bottom: 27px !important;
  }
  .main-blog.page-width{
    display: none;
  }
  .blog_banner_left__text h4 .hide-mb{    
    display: none;
  }
  .blog_banner_left__text h3 .hide-desktop{    
    text-transform: lowercase !important;
  }
  
  
}
@media (min-width: 1025px){
  .home-banner .container,.home_sexual_health_res,  .home-slide .container {
    padding: 0 !important;
  }
  .home_about_us {
    display: flex;
  }
  .home_about_us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .home_about_us .left {
    width: inherit !important;
    height: auto;
    padding-left: 10px;
  }
  .footer-home-indicator-mobile{
    display: none;
  }
    /* header logo*/
  .section-header .header-wrapper .header--middle-left {
    padding: 15px 80px;
    border-bottom: solid 1px #fff;
  }
  .header__heading-logo {
    height: 33px;
  }
  /* **** */
  .page-sitemap .template_page_banner img {
    height: 212px;
  }
  .template_page_banner img {
    height: 324px;
  }
  .page-term-and-conditions .template_page_banner .main-page-title {
    text-transform: inherit;    
  }
  .term-conditions-content .container{
    margin: 0;
  }
  .blog-articles {
    column-gap: 24px;
  }
  .article-template__content.page-width.page-width--narrow.rte.scroll-trigger.animate--slide-in img {
    padding-bottom: 40px;
  }
  .main-blog.page-width{
    display: none;
  }
  .box_section_product_tabs .container{
    padding-left: 160px;
    padding-right: 160px;
  }
  .product-card-wrapper .card .card__inner .card__media .media {
    height: 420px;
  }
  .product-card-wrapper .card .card__inner .card__media {
    height: 420px;
  }
  .why-hunnybee .container{
    padding-left: 120px;
    padding-right: 120px;
  }
   .blog_banner_left__text h3 .hide-desktop{    
    display: none;
  }
}
@media(min-width: 1440px){
  .home-banner .container{
    max-width: 100%;
  }
   #home_product_list .container {
      max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}