/* ren change
*/
@media (max-width: 1440px) and (min-width: 768px){
  .home-banner .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #home_product_list .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
