.header-wrapper--border-bottom {
    border: 0;
}

.announcement-bar__message.h5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    min-height: unset;
}

.announcement-bar-section .utility-bar__grid .list-social {
    justify-content: flex-end;
    gap: 8px;
}

.announcement-bar-section .utility-bar {
    border: 0;
    background: var(--rose);
    padding: 16px 0;
}

.announcement-bar-section .utility-bar .list-social__link {
    height: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.announcement-bar-section .list-social__item .icon {
    width: 24px;
    height: 24px;
}

body:has(.section-header .header:not(.drawer-menu)) .utility-bar .page-width {
    padding-left: 80px;
    padding-right: 80px;
    gap: 16px;
}

.section-header .header__heading-logo {
    width: 100%;
}

.section-header .header__heading-link {
    margin: 0;
    padding: 0;
}

.section-header .header-wrapper .header--middle-left {
    grid-template-columns: 1fr 2fr 1fr;
    padding: 13px 80px;
}

.header__inline-menu {
    text-align: center;
}

.section-header .list-menu {
    gap: 32px;
}

.section-header .header__menu-item {
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.section-header .header__icons {
    gap: 24px;
    padding: 0;
}

.section-header .header__icon .icon {
    width: 24px;
    height: 24px;
}

.section-header .header__icon,
.section-header .header__icon--cart .icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* Section Banner */
.home-banner {
    position: relative;
}

.home-banner .banner_text__content_logo image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.home-banner .banner_text {
    width: 345px;
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
}

.home-banner .banner_text_image {
    max-width: 67px;
    width: 100%;
}

.home-banner .banner_text__content h4 {
    color: var(--black);
    margin: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
}

.home-banner .banner_text__content h3 {
    color: var(--black);
    margin: 0;
    margin-top: 10px;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0;
}

.home-banner .banner_text__content a {
    margin-top: 24px;
    max-width: 160px;
}

/* Product List Section */
.home-product-list {
    margin-top: 24px;
}

.home-product-list .home_product_list .slick-slide {
    margin: 0 12px;
}

.home-product-list .slick-list {
    margin: 0 -12px;
}

.home-product-list .home_product_list_heading {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 56px;
}

.box_heading_image {
    flex-shrink: 0;
}

.box_heading_text {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.box_heading_text p {
    max-width: 540px;
    text-align: left;
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

.home_product_list_heading .box_heading_text h3 {
    margin: 0;
    color: var(--black);
    font-family: 'FontspringDemoTheseasons';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-card-wrapper .card .card__inner {
    border-radius: 4px;
    overflow: hidden;
}

.product-card-wrapper .card .card__inner .card__media {
    z-index: 1;
    width: 100%;
}

.product-card-wrapper .card--standard .card__content {
    margin-top: 24px;
}

.product-card-wrapper .card--standard > .card__content .card__information {
    padding: 0;
}

.product-card-wrapper .card__information .card__heading.h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin: 0;
}

.product-card-wrapper .card__heading .full-unstyled-link {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.product-card-wrapper .card__badge span {
    z-index: 1;
    position: absolute;
    top: 32px;
    right: 32px;
    background: var(--secondary-2);
    width: 68px;
    height: 32px;
    border-radius: 200px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
}

.product-card-wrapper .price__container .box_price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.product-card-wrapper .price__container .box_price .price__regular {
    display: flex;
    gap: 20px;
}

.product-card-wrapper .price__container .box_price span {
    text-transform: none;
    letter-spacing: 0;
}

.line_price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-wrapper .card__information .price {
    margin-top: 0 !important;
}

.product-card-wrapper .price__regular .price-item--regular {
    font-size: 16px;
}

.product-card-wrapper .price__regular .price-item--regular.price-item--sale {
    color: var(--grey5);
    text-decoration: line-through;
}

.product-card-wrapper .card-information {
    margin-top: 24px;
}

.product-card-wrapper .card .card__inner .card__media .media {
    overflow: unset;
    width: 100%;
    height: 100%;
}

.product-card-wrapper .card .card__inner .card__media .media img {
    width: 100%;
    height: 100%;
}


/* Section home about us */
.home-about-us {
    position: relative;
}

.home_about_us {
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding-top: 24px;
}

.home_about_us .right {
    padding: 38px 0;
    padding-left: 45px;
}

.home_about_us .right img {
    width: 88px;
    height: 85px;
    margin: 0 auto;
}

.home_about_us .right .about_us_title {
    text-align: center;
}

.home_about_us .right .about_us_title h2 {
    margin: 0;
    margin-top: 40px;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
}

.home_about_us .right a.btn {
    width: 160px;
    margin: 0 auto;
    margin-top: 40px;
}

.home_about_us .about_us_description {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home_about_us .left {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.home_about_us .left img {
    object-fit: cover;
    object-position: center;
}

.home_about_us .about_us_description p {
    margin: 0;
    margin-bottom: 28px;
}

.home_about_us .about_us_description p:last-child {
    margin-bottom: 0;
}

.home-about-us .image_bg_section {
    position: absolute;
    bottom: 0;
}

/* Home Loved Hy Section */
.home-loved {
    margin-top: 40px;
}

.home_loved_by h2 {
    margin: 0;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    text-align: center;
}

.list_loved_by {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin-top: 80px;
    gap: 40px;
}

.love_by_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.love_by_item img {
    width: fit-content;
    height: fit-content;
}

/* Home Section Sexual */
.home-sexual-health {
    position: relative;
    margin-top: 40px;
}

.home_sexual_health .container {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home_sexual_health .text_item {
    margin-bottom: 80px;
}

.home_sexual_health .text_item:last-child {
    margin-bottom: 0;
}

.home_sexual_health .text_item h3 {
    margin: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
}

.home_sexual_health .text_item p {
    margin: 0;
    margin-top: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.home_sexual_health .text_item a.btn {
    margin-top: 24px;
}

/* Home List Image Section */
.home_list_images .slick-arrow {
    background: none;
    border: none;
    position: absolute;
    width: fit-content;
    padding: 0;
    min-width: unset;
    z-index: 1;
}

.home_list_images .slick-arrow:hover {
    background: none;
}

.home_list_images .slick-arrow:hover svg {
    background: var(--white);
    border-radius: 100%;
}

.home_list_images .slick-arrow.slick-prev {
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
}

.home_list_images .slick-arrow.slick-prev svg {
    transform: rotate(180deg);
}

.home_list_images .slick-arrow.slick-next {
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}

/* Footer */
.footer {
    background: var(--black);
}

.footer_logo {
    max-width: 136px;
}

.footer_content {
    margin-top: 37px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.footer_content .explore {
    padding-left: 10px;
}

.footer_content .link_items ul,
.footer_content .link_items li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_content h4 {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-bottom: 16px;
}

.footer_content .link_items li {
    margin-bottom: 9px;
}

.footer_content .link_items a {
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-decoration: unset;
}

.footer_content .link_items a:hover {
    text-decoration: underline;
}

.footer_content .link_items li:last-child {
    margin-bottom: 0;
}

.footer_content .newsletter_box {
    width: 100%;
    max-width: 435px;
    padding-right: 62px;
}

.list_image_logo {
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 22px;
}

.image_logo_item img {
    max-width: 50px;
    width: 100%;
}

.footer__content-bottom .footer__content-bottom-wrapper {
    display: block;
}

.footer__content-bottom-wrapper h4 {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    text-align: center;
}

.footer .footer__content-bottom {
    border: 0;
    padding: 0;
}

.footer .footer__content-top {
    padding-bottom: 62px;
}

.newsletter_box .box_email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7px;
}

.newsletter_box .email {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: unset;
}

.newsletter_box .email:hover {
    text-decoration: underline;
}

.newsletter_box .socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

.newsletter_box .footer-block--newsletter {
    margin: 0;
}

.footer-block--newsletter h2 {
    color: var(--white);
}

.footer-block--newsletter .newsletter-form {
    max-width: 100%;
}

.footer-block--newsletter .newsletter-form__field-wrapper {
    max-width: 100%;
    margin-top: 30px;
}

.footer-block--newsletter .field__input {
    color: var(--white);
    background: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    border-bottom: 1px solid var(--white);
    box-shadow: none;
    height: 52px;
}

.footer-block--newsletter .field__input::placeholder,
.footer-block--newsletter .field__label {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 0;
}

.footer-block--newsletter .field::before,
.footer-block--newsletter .field::after {
    box-shadow: none;
    display: none;
}

.footer-block--newsletter .newsletter-form__button {
    color: var(--white);
    justify-content: end;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-height: unset;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

.newsletter_box .your_seft {
    margin: 0;
    margin-top: 24px;
    color: var(--white);
    text-align: left;
}

.home_sexual_health {
    position: relative;
    padding-bottom: 50.3%;
}

.home_sexual_health img.image_desktop {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.header  header-drawer {
    margin: 0;
}

.section-header .header__icon--summary {
    margin: 0;
    width: auto;
    text-decoration: unset;
}

.section-header .header__icon--summary span {
    color: var(--black);
    text-decoration: unset;
    transform: unset !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-drawer-container.menu-opening .icon-hamburger {
    display: none;
}

.menu-drawer-container .icon-close {
    display: none;
}

.menu-drawer-container.menu-opening .icon-close {
    display: block;
}

#menu-drawer .menu-drawer__inner-container {
    padding: 0 16px;
    padding-top: 24px;
    height: calc(100% - 55px);
}

.menu-drawer__navigation-container .menu-drawer__navigation {
    padding-top: 24px;
}

.js .menu-drawer__navigation .menu-drawer__menu li {
    margin: 0;
}

.menu-drawer__navigation .list-menu__item {
    color: var(--black);
    padding: 16px 0;
    border-bottom: 1px solid var(--grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.menu-drawer__navigation .list-menu__item.menu-drawer__menu-item--active {
    background: unset;
}

.menu-drawer__navigation li:last-child .list-menu__item {
    border: 0;
}

.menu_box_search_account {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

.menu_box_search_account .box_account,
.menu_box_search_account .box_search {
    width: 50%;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_box_search_account .box_search {
    border-right: 1px solid var(--grey);
}

.menu_box_search_account .box_search .modal__toggle-close {
    display: none;
}

.menu_box_search_account details[open] .modal-overlay {
    display: none;
}

.menu_box_search_account .search-modal__content {
    align-items: flex-start;
    padding: 24px 16px;   
}

.menu_box_search_account .modal__close-button.link {
    right: 32px;
    justify-content: flex-end;
    height: 52px;
}

.menu_box_search_account .field::before,
.menu_box_search_account .field::after {
    display: none;
}

.menu_box_search_account .search__input.field__input {
    color: var(--black);
    border: 1px solid var(--grey);
    box-shadow: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 52px;
}

.menu_box_search_account .field__label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black);
    top: 50%;
    transform: translateY(-50%);
}

.menu_box_search_account .field__input:focus~.field__label {
    top: calc(var(--inputs-border-width) + 1.5rem);
    font-size: 12px;
}

.menu_box_search_account .field button {
    height: 52px;
}

.modal__close-button.link:hover {
    color: var(--white);
}

.search-modal__content .search__input.field__input {
    border: 1px solid var(--black);
    outline: none;
    box-shadow: none;
}

.search-modal__content .field::before,
.search-modal__content .field::after {
    display: none;
}

.search-modal__content .search__button {
    min-width: unset;
    width: 44px;
    height: 44px;
}

.btn_scroll_top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 80px;
    right: 64px;
    min-width: unset;
    max-width: unset;
    padding: 0;
    border: 0;
    outline: none;
}

@media screen and (max-width: 1200px) {
    body:has(.section-header .header:not(.drawer-menu)) .utility-bar .page-width {
        padding-left: 24px;
        padding-right: 24px;
    }

    .section-header .header-wrapper .header--middle-left {
        padding-left: 24px;
        padding-right: 24px;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .home_about_us .right {
        padding-left: 0;
    }
}

@media screen and (max-width: 989px) {
    .header__search.is_desktop {
        display: none;
    }
    
    body:has(.section-header .header:not(.drawer-menu)) .utility-bar .page-width {
        padding-left: 16px;
        padding-right: 16px;
    }

    .section-header .header-wrapper .header--middle-left {
        padding: 14px 16px;
    }

    .announcement-bar,
    .announcement-bar__announcement {
        justify-content: flex-start;
    }

    .home-product-list .home_product_list .slick-slide {
        padding: 0;
    }

    .home-product-list .home_product_list {
        padding: 0;
    }

    .home-product-list .home_product_list_heading {
        flex-wrap: wrap;
        margin-bottom: 32px;
    }

    .home-product-list .box_heading_image {
        width: 100%;
    }

    .home-product-list .box_heading_image img {
        margin: 0 auto;
    }

    .home-product-list .box_heading_text {
        width: 100%;
        flex-wrap: wrap;
        gap: 24px;
    }

    .home_product_list_heading .box_heading_text h3 {
        width: 100%;
        text-align: center;
        font-size: 32px;
        line-height: 40px;
    }

    .box_heading_text p {
        width: 100%;
        max-width: 100%;
    }

    .home_about_us {
        grid-template-columns: 1fr;
        padding-top: 33px;
    }
    
    .home_about_us .left {
        display: none;
    }

    .home_about_us .right {
        padding: 24px 0;
        max-width: 100%;
        width: 100%;
    }

    .list_loved_by {
        grid-template-columns: repeat(2, 1fr);
    }

    .love_by_item {
        margin: 0 auto;
    }

    
}

@media screen and (max-width: 767px) {
    .announcement-bar__message.h5 {
        text-align: left;
        line-height: 17px;
    }

    .announcement-bar-section .utility-bar__grid .list-social {
        gap: 16px;
    }

    .announcement-bar-section .utility-bar {
        padding: 12px 0;
    }

    .home-banner .banner_text__content h4 {
        font-size: 24px;
        font-weight: 250;
    }

    .home-banner .banner_text__content h3 {
        font-size: 32px;
        font-weight: 400;
        margin-top: 16px;
    }

    .home-banner .banner_text__content a {
        margin-top: 16px;
        width: 100%;
    }

    .home-banner .banner_text {
        max-width: 228px;
        top: 40px;
        left: 50%;
        justify-content: center;
        width: 100%;
    }

    .banner_text__content_logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    .banner_text__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .home-banner .banner_text_image {
        max-width: 50px;
    }

    .product-card-wrapper .card__information .card__heading.h5 {
        font-size: 18px;
        text-align: center;
    }

    .home_about_us .right img {
        width: 66px;
        height: 64px;
    }

    .home_about_us .right .about_us_title h2 {
        font-size: 32px;
        line-height: 40px;
        margin-top: 8px;
    }

    .home_about_us .about_us_description {
        margin-top: 24px;
    }

    .home_about_us .about_us_description p {
        line-height: 20px;
        margin-bottom: 24px;
    }

    .home_about_us .right a.btn {
        text-transform: none;
        margin-top: 24px;
    }

    .home-product-list {
        margin-top: 16px;
    }

    .product-card-wrapper .card .card__inner.ratio::before {
        padding-bottom: 112.6%;
    }

    .product-card-wrapper .card-information {
        margin-top: 22px;
    }

    .home-loved {
        margin-top: 32px;
    }

    .home_loved_by h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .list_loved_by {
        column-gap: 0;
        row-gap: 48px;
        margin-top: 24px;
    }

    .home-sexual-health {
        margin-top: 33px;
    }

    .home_sexual_health {
        padding-bottom: 0;
    }

    .love_by_item {
        margin: 0 auto;
    }

    .love_by_item img {
        width: 100%;
        height: 100%;
    }

    .home_sexual_health .container {
        top: 0;
        transform: translate(-50%,0);
    }

    .home_sexual_health .container .left {
        padding-top: 34px;
        max-width: 268px;
        margin: 0 auto;
    }

    .home_sexual_health .text_item {
        margin-bottom: 43px;
    }

    .home_sexual_health .text_item h3 {
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .home_sexual_health .text_item p {
        margin-top: 4px;
    }

    .footer .footer__content-top {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 40px;
    }

    .home_list_images .slick-arrow.slick-next {
        right: 16px;
    }

    .home_list_images .slick-arrow.slick-prev {
        left: 16px;
    }

    .footer_content .explore {
        padding: 0;
        max-width: 120px;
    }

    .footer_content .newsletter_box {
        padding: 0;
        width: 100%;
        max-width: 100%;
    }

    .footer-block--newsletter .footer-block__newsletter {
        width: 100%;
    }

    .list_image_logo {
        margin: 0 auto;
        margin-top: 22px;
        max-width: 224px;
        flex-wrap: wrap;
    }

    .footer_content {
        margin-top: 38px;
        row-gap: 36px;
    }

    .footer_content h4 {
        letter-spacing: 1.1px;
    }

    .footer_content .link_items li {
        margin-bottom: 12px;
    }

    .footer_content .link_items a {
        letter-spacing: 0.4px;
    }

    .newsletter_box .socials {
        padding-right: 10px;
    }

    .footer-block--newsletter .field__input {
        height: 49px;
    }

    .footer-block--newsletter .field__input::placeholder,
    .footer-block--newsletter .field__label {
        top: 45%;
    }

    .footer-block--newsletter .newsletter-form__button {
        top: 45%;
    }

    .newsletter_box .your_seft {
        margin-top: 21px;
    }

    .footer-block--newsletter .newsletter-form__field-wrapper {
        padding-right: 10px;
    }

    .footer__content-bottom-wrapper h4 {
        font-size: 18px;
    }
    
    .shopify-section-group-footer-group .footer {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .btn_scroll_top {
        right: 24px;        
    }
}
