.header-wrapper--border-bottom {
    border: 0;
}

.announcement-bar__message.h5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    min-height: unset;
}

.announcement-bar-section .utility-bar__grid .list-social {
    justify-content: flex-end;
    gap: 8px;
}

.announcement-bar-section .utility-bar {
    border: 0;
    background: var(--rose);
    padding: 16px 0;
}

.announcement-bar-section .utility-bar .list-social__link {
    height: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.announcement-bar-section .list-social__item .icon {
    width: 24px;
    height: 24px;
}

body:has(.section-header .header:not(.drawer-menu)) .utility-bar .page-width {
    padding-left: 80px;
    padding-right: 80px;
    gap: 16px;
}

.section-header .header__heading-logo {
    width: 100%;
}

.section-header .header__heading-link {
    margin: 0;
    padding: 0;
}

.section-header .header-wrapper .header--middle-left {
    grid-template-columns: 1fr 2fr 1fr;
    padding: 13px 80px;
}

.header__inline-menu {
    text-align: center;
}

.section-header .list-menu {
    gap: 32px;
}

.section-header .header__menu-item {
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.section-header .header__icons {
    gap: 24px;
    padding: 0;
}

.section-header .header__icon .icon {
    width: 24px;
    height: 24px;
}

.section-header .header__icon,
.section-header .header__icon--cart .icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* Section Banner */
.home-banner {
    position: relative;
}

.home-banner .banner_text__content_logo image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.home-banner .banner_text {
    width: 345px;
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
}

.home-banner .banner_text_image {
    max-width: 67px;
    width: 100%;
}

.home-banner .banner_text__content h4 {
    color: var(--black);
    margin: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
}

.home-banner .banner_text__content h3 {
    color: var(--black);
    margin: 0;
    margin-top: 10px;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0;
}

.home-banner .banner_text__content a {
    margin-top: 24px;
    max-width: 160px;
}

/* Product List Section */
.home-product-list {
    margin-top: 24px;
}

.home-product-list .home_product_list .slick-slide {
    margin: 0 12px;
}

.home-product-list .slick-list {
    margin: 0 -12px;
}

.home-product-list .home_product_list_heading {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 56px;
}

.box_heading_image {
    flex-shrink: 0;
}

.box_heading_text {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.box_heading_text p {
    max-width: 540px;
    text-align: left;
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

.home_product_list_heading .box_heading_text h3 {
    margin: 0;
    color: var(--black);
    font-family: 'FontspringDemoTheseasons';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-card-wrapper .card .card__inner {
    border-radius: 4px;
    overflow: hidden;
}

.product-card-wrapper .card .card__inner .card__media {
    z-index: 1;
    width: 100%;
}

.product-card-wrapper .card--standard .card__content {
    margin-top: 24px;
}

.product-card-wrapper .card--standard > .card__content .card__information {
    padding: 0;
}

.product-card-wrapper .card__information .card__heading.h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin: 0;
}

.product-card-wrapper .card__heading .full-unstyled-link {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.product-card-wrapper .card__badge span {
    z-index: 1;
    position: absolute;
    top: 32px;
    right: 32px;
    background: var(--secondary-2);
    width: auto;
    height: 32px;
    border-radius: 200px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
}

.product-card-wrapper .price__container .box_price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.product-card-wrapper .price__container .box_price .price__regular {
    display: flex;
    gap: 20px;
}

.product-card-wrapper .price__container .box_price span {
    text-transform: none;
    letter-spacing: 0;
}

.line_price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-wrapper .card__information .price {
    margin-top: 0 !important;
}

.product-card-wrapper .price__regular .price-item--regular {
    font-size: 16px;
}

.product-card-wrapper .price__regular .price-item--regular.price-item--sale {
    color: var(--grey5);
    text-decoration: line-through;
}

.product-card-wrapper .card-information {
    margin-top: 24px;
}

.product-card-wrapper .card .card__inner .card__media .media {
    overflow: unset;
    width: 100%;
    height: 100%;
}

.product-card-wrapper .card .card__inner .card__media .media img {
    width: 100%;
    height: 100%;
}


/* Section home about us */
.home-about-us {
    position: relative;
}

.home_about_us {
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding-top: 24px;
}

.home_about_us .right {
    padding: 38px 0;
    padding-left: 45px;
}

.home_about_us .right img {
    width: 88px;
    height: 85px;
    margin: 0 auto;
}

.home_about_us .right .about_us_title {
    text-align: center;
}

.home_about_us .right .about_us_title h2 {
    margin: 0;
    margin-top: 40px;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
}

.home_about_us .right a.btn {
    width: 160px;
    margin: 0 auto;
    margin-top: 40px;
}

.home_about_us .about_us_description {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home_about_us .left {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.home_about_us .left img {
    object-fit: cover;
    object-position: center;
}

.home_about_us .about_us_description p {
    margin: 0;
    margin-bottom: 28px;
}

.home_about_us .about_us_description p:last-child {
    margin-bottom: 0;
}

.home-about-us .image_bg_section {
    position: absolute;
    bottom: 0;
}

/* Home Loved Hy Section */
.home-loved {
    margin-top: 40px;
}

.home_loved_by h2 {
    margin: 0;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    text-align: center;
}

.list_loved_by {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin-top: 80px;
    gap: 40px;
}

.love_by_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.love_by_item img {
    width: fit-content;
    height: fit-content;
}

/* Home Section Sexual */
.home-sexual-health {
    position: relative;
    margin-top: 40px;
}

.home_sexual_health .container {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home_sexual_health .text_item {
    margin-bottom: 80px;
}

.home_sexual_health .text_item:last-child {
    margin-bottom: 0;
}

.home_sexual_health .text_item h3 {
    margin: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
}

.home_sexual_health .text_item p {
    margin: 0;
    margin-top: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.home_sexual_health .text_item a.btn {
    margin-top: 24px;
}

/* Home List Image Section */
.home_list_images .slick-arrow {
    background: none;
    border: none;
    position: absolute;
    width: fit-content;
    padding: 0;
    min-width: unset;
    z-index: 1;
}

.home_list_images .slick-arrow:hover {
    background: none;
}

.home_list_images .slick-arrow:hover svg {
    background: var(--white);
    border-radius: 100%;
}

.home_list_images .slick-arrow.slick-prev {
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
}

.home_list_images .slick-arrow.slick-prev svg {
    transform: rotate(180deg);
}

.home_list_images .slick-arrow.slick-next {
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
}

/* Footer */
.footer {
    background: var(--black);
}

.footer_logo {
    max-width: 136px;
}

.footer_content {
    margin-top: 37px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.footer_content .explore {
    padding-left: 10px;
}

.footer_content .link_items ul,
.footer_content .link_items li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_content h4 {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-bottom: 16px;
}

.footer_content .link_items li {
    margin-bottom: 9px;
}

.footer_content .link_items a {
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-decoration: unset;
}

.footer_content .link_items a:hover {
    text-decoration: underline;
}

.footer_content .link_items li:last-child {
    margin-bottom: 0;
}

.footer_content .newsletter_box {
    width: 100%;
    max-width: 435px;
    padding-right: 62px;
}

.list_image_logo {
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 22px;
}

.image_logo_item img {
    max-width: 50px;
    width: 100%;
}

.footer__content-bottom .footer__content-bottom-wrapper {
    display: block;
}

.footer__content-bottom-wrapper h4 {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    text-align: center;
}

.footer .footer__content-bottom {
    border: 0;
    padding: 0;
}

.footer .footer__content-top {
    padding-bottom: 62px;
}

.newsletter_box .box_email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7px;
}

.newsletter_box .email {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: unset;
}

.newsletter_box .email:hover {
    text-decoration: underline;
}

.newsletter_box .socials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

.newsletter_box .footer-block--newsletter {
    margin: 0;
}

.footer-block--newsletter h2 {
    color: var(--white);
}

.footer-block--newsletter .newsletter-form {
    max-width: 100%;
}

.footer-block--newsletter .newsletter-form__field-wrapper {
    max-width: 100%;
    margin-top: 30px;
}

.footer-block--newsletter .field__input {
    color: var(--white);
    background: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    border: 1px solid var(--white);
    box-shadow: none;
    height: 62px;
    border-radius: 300px;
    padding: 8px 150px 8px 16px !important;
}

.footer-block--newsletter .field__input::placeholder,
.footer-block--newsletter .field__label {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
}

.footer-block--newsletter .field__input::placeholder {
    opacity: 1;
    color: var(--white);
}

.footer-block--newsletter .field__label {
    display: none;
}

.footer-block--newsletter .field::before,
.footer-block--newsletter .field::after {
    box-shadow: none;
    display: none;
}

.footer-block--newsletter .newsletter-form__button {
    color: var(--black);
    background: var(--white) !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-height: unset;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    height: 48px;
    border-radius: 300px;
    align-items: center;
    justify-content: center;
    right: 8px;
    max-width: 129px;
    width: 100%;
    min-width: unset;
}

.newsletter_box .your_seft {
    margin: 0;
    margin-top: 24px;
    color: var(--white);
    text-align: left;
}

.home_sexual_health {
    position: relative;
    padding-bottom: 50.3%;
}

.home_sexual_health img.image_desktop {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.header  header-drawer {
    margin: 0;
}

.section-header .header__icon--summary {
    margin: 0;
    width: auto;
    text-decoration: unset;
}

.section-header .header__icon--summary span {
    color: var(--black);
    text-decoration: unset;
    transform: unset !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-drawer-container.menu-opening .icon-hamburger {
    display: none;
}

.menu-drawer-container .icon-close {
    display: none;
}

.menu-drawer-container.menu-opening .icon-close {
    display: block;
}

#menu-drawer .menu-drawer__inner-container {
    padding: 0 16px;
    padding-top: 24px;
    height: calc(100% - 55px);
}

.menu-drawer__navigation-container .menu-drawer__navigation {
    padding-top: 24px;
}

.js .menu-drawer__navigation .menu-drawer__menu li {
    margin: 0;
}

.menu-drawer__navigation .list-menu__item {
    color: var(--black);
    padding: 16px 0;
    border-bottom: 1px solid var(--grey);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.menu-drawer__navigation .list-menu__item.menu-drawer__menu-item--active {
    background: unset;
}

.menu-drawer__navigation li:last-child .list-menu__item {
    border: 0;
}

.menu_box_search_account {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

.menu_box_search_account .box_account,
.menu_box_search_account .box_search {
    width: 50%;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_box_search_account .box_search {
    border-right: 1px solid var(--grey);
}

.menu_box_search_account .box_search .modal__toggle-close {
    display: none;
}

.menu_box_search_account details[open] .modal-overlay {
    display: none;
}

.menu_box_search_account .search-modal__content {
    align-items: flex-start;
    padding: 24px 16px;   
}

.menu_box_search_account .modal__close-button.link {
    right: 32px;
    justify-content: flex-end;
    height: 52px;
}

.menu_box_search_account .field::before,
.menu_box_search_account .field::after {
    display: none;
}

.menu_box_search_account .search__input.field__input {
    color: var(--black);
    border: 1px solid var(--grey);
    box-shadow: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 52px;
}

.menu_box_search_account .field__label {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black);
    top: 50%;
    transform: translateY(-50%);
}

.menu_box_search_account .field__input:focus~.field__label {
    top: calc(var(--inputs-border-width) + 1.5rem);
    font-size: 12px;
}

.menu_box_search_account .field button {
    height: 52px;
}

.modal__close-button.link:hover {
    color: var(--white);
}

.search-modal__content .search__input.field__input {
    border: 1px solid var(--black);
    outline: none;
    box-shadow: none;
}

.search-modal__content .field::before,
.search-modal__content .field::after {
    display: none;
}

.search-modal__content .search__button {
    min-width: unset;
    width: 44px;
    height: 44px;
}

.btn_scroll_top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 80px;
    right: 64px;
    min-width: unset;
    max-width: unset;
    padding: 0;
    border: 0;
    outline: none;
}

@media screen and (max-width: 1200px) {
    body:has(.section-header .header:not(.drawer-menu)) .utility-bar .page-width {
        padding-left: 24px;
        padding-right: 24px;
    }

    .section-header .header-wrapper .header--middle-left {
        padding-left: 24px;
        padding-right: 24px;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .home_about_us .right {
        padding-left: 0;
    }
}

@media screen and (max-width: 989px) {
    .header__search.is_desktop {
        display: none;
    }
    
    body:has(.section-header .header:not(.drawer-menu)) .utility-bar .page-width {
        padding-left: 16px;
        padding-right: 16px;
    }

    .section-header .header-wrapper .header--middle-left {
        padding: 14px 16px;
    }

    .announcement-bar,
    .announcement-bar__announcement {
        justify-content: flex-start;
    }

    .home-product-list .home_product_list .slick-slide {
        padding: 0;
    }

    .home-product-list .home_product_list {
        padding: 0;
    }

    .home-product-list .home_product_list_heading {
        flex-wrap: wrap;
        margin-bottom: 32px;
    }

    .home-product-list .box_heading_image {
        width: 100%;
    }

    .home-product-list .box_heading_image img {
        margin: 0 auto;
    }

    .home-product-list .box_heading_text {
        width: 100%;
        flex-wrap: wrap;
        gap: 24px;
    }

    .home_product_list_heading .box_heading_text h3 {
        width: 100%;
        text-align: center;
        font-size: 32px;
        line-height: 40px;
    }

    .box_heading_text p {
        width: 100%;
        max-width: 100%;
    }

    .home_about_us {
        grid-template-columns: 1fr;
        padding-top: 33px;
    }
    
    .home_about_us .left {
        display: none;
    }

    .home_about_us .right {
        padding: 24px 0;
        max-width: 100%;
        width: 100%;
    }

    .list_loved_by {
        grid-template-columns: repeat(2, 1fr);
    }

    .love_by_item {
        margin: 0 auto;
    }

    
}

@media screen and (max-width: 767px) {
    .announcement-bar__message.h5 {
        text-align: left;
        line-height: 17px;
    }

    .announcement-bar-section .utility-bar__grid .list-social {
        gap: 16px;
    }

    .announcement-bar-section .utility-bar {
        padding: 12px 0;
    }

    .home-banner .banner_text__content h4 {
        font-size: 24px;
        font-weight: 250;
    }

    .home-banner .banner_text__content h3 {
        font-size: 32px;
        font-weight: 400;
        margin-top: 16px;
    }

    .home-banner .banner_text__content a {
        margin-top: 16px;
        width: 100%;
    }

    .home-banner .banner_text {
        max-width: 228px;
        top: 40px;
        left: 50%;
        justify-content: center;
        width: 100%;
    }

    .banner_text__content_logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    .banner_text__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .home-banner .banner_text_image {
        max-width: 50px;
    }

    .product-card-wrapper .card__information .card__heading.h5 {
        font-size: 18px;
        text-align: center;
    }

    .home_about_us .right img {
        width: 66px;
        height: 64px;
    }

    .home_about_us .right .about_us_title h2 {
        font-size: 32px;
        line-height: 40px;
        margin-top: 8px;
    }

    .home_about_us .about_us_description {
        margin-top: 24px;
    }

    .home_about_us .about_us_description p {
        line-height: 20px;
        margin-bottom: 24px;
    }

    .home_about_us .right a.btn {
        text-transform: none;
        margin-top: 24px;
    }

    .home-product-list {
        margin-top: 16px;
    }

    .product-card-wrapper .card .card__inner.ratio::before {
        padding-bottom: 112.6%;
    }

    .product-card-wrapper .card-information {
        margin-top: 22px;
    }

    .home-loved {
        margin-top: 32px;
    }

    .home_loved_by h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .list_loved_by {
        column-gap: 0;
        row-gap: 48px;
        margin-top: 24px;
    }

    .home-sexual-health {
        margin-top: 33px;
    }

    .home_sexual_health {
        padding-bottom: 0;
    }

    .love_by_item {
        margin: 0 auto;
    }

    .love_by_item img {
        width: 100%;
        height: 100%;
    }

    .home_sexual_health .container {
        top: 0;
        transform: translate(-50%,0);
    }

    .home_sexual_health .container .left {
        padding-top: 34px;
        max-width: 268px;
        margin: 0 auto;
    }

    .home_sexual_health .text_item {
        margin-bottom: 43px;
    }

    .home_sexual_health .text_item h3 {
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .home_sexual_health .text_item p {
        margin-top: 4px;
    }

    .footer .footer__content-top {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 40px;
    }

    .home_list_images .slick-arrow.slick-next {
        right: 16px;
    }

    .home_list_images .slick-arrow.slick-prev {
        left: 16px;
    }

    .footer_content .explore {
        padding: 0;
        max-width: 120px;
    }

    .footer_content .newsletter_box {
        padding: 0;
        width: 100%;
        max-width: 100%;
    }

    .footer-block--newsletter .footer-block__newsletter {
        width: 100%;
    }

    .list_image_logo {
        margin: 0 auto;
        margin-top: 22px;
        max-width: 224px;
        flex-wrap: wrap;
    }

    .footer_content {
        margin-top: 38px;
        row-gap: 36px;
    }

    .footer_content h4 {
        letter-spacing: 1.1px;
    }

    .footer_content .link_items li {
        margin-bottom: 12px;
    }

    .footer_content .link_items a {
        letter-spacing: 0.4px;
    }

    .newsletter_box .socials {
        padding-right: 10px;
    }

    .footer-block--newsletter .field__input {
        height: 62px;
    }

    .footer-block--newsletter .field__input::placeholder,
    .footer-block--newsletter .field__label {
        top: 45%;
        top: 50%;
    }

    .footer-block--newsletter .newsletter-form__button {
        top: 45%;
        top: 50%;
    }

    .newsletter_box .your_seft {
        margin-top: 21px;
    }

    .footer__content-bottom-wrapper h4 {
        font-size: 18px;
    }
    
    .shopify-section-group-footer-group .footer {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .btn_scroll_top {
        right: 24px;        
    }
}

/* Minicart */
body.open-minicart {
    overflow: hidden;
}

.bg-minicart-close {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    cursor: pointer;
    display: none;
    opacity: 0.5;
}

.open-minicart .bg-minicart-close {
    display: block;
}

#mincart-loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    position: absolute;
}

#mincart-loading::after {
    --tw-bg-opacity: 1;
    --tw-content: "";
    background-color: rgb(0 0 0/var(--tw-bg-opacity));
    content: var(--tw-content);
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .2;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#mincart-loading .load {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mini-cart-wrapper {
    position: fixed;
    right: -100%;
    z-index: 9999;
    width: 298px;
    background: var(--white);
    height: 100%;
    padding: 16px 0;
    transition-duration: .5s;
}

.mini-cart-wrapper.show {
    right: 0;
    transition-duration: .5s;
}

.mini-cart-wrapper .cart_heading_title {
    color: var(--black);
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.mini-cart-wrapper .cart-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 0 16px;
}

.minicart-items {
    padding: 0 16px;
}

.close-minicart {
    cursor: pointer;
    margin: 0;
}

.close-minicart svg {
    width: 24px;
    height: 24px;
}

.check-shipping {
    margin-top: 16px;
}

.check-shipping .check-shipping-text {
    color: var(--black);
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-bottom: 16px;
}

.check-shipping .check-shipping-line {
    border-radius: 300px;
    width: 100%;
    margin: 0;
    position: relative;
    background: #B5B5B5;
}

.check-shipping .check-shipping-line img {
    width: 100%;
    height: 6px;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 300px;
}

.check-shipping .check-shipping-line svg {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-24px);
}

.list-cart-container {
    margin-top: 24px;
    overflow-y: auto;
    padding-right: 10px;
}

.list-cart-container::-webkit-scrollbar {
    width: 4px;
    background: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 10px;
}

.list-cart-container::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: var(--black);
    border-width: 4px;
    border-color: var(--black);
    border-radius: 10px;
}

.list-cart-container .cart-item {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey);
    padding: 16px 0;
}

.list-cart-container .cart-item:first-child {
    padding-top: 0;
}

.list-cart-container .cart-item:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.list-cart-container .cart_product-title {
    color: var(--black);
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: unset;
    text-align: left;
    display: block;
}

.list-cart-container .cart__item-des {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    gap: 16px;
}

.list-cart-container .cart__item-price {
    display: block;
}

.list-cart-container .cart-thumbnail a {
    position: relative;
    padding-bottom: 100%;
    height: 80px;
}

.list-cart-container .cart-thumbnail a img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.list-cart-container .button-change-qty-items {
    border-radius: 4px;
    border: 1px solid var(--grey);
    width: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
    padding: 0 8px;
    height: 32px;
}

.list-cart-container .button-change-qty-items .qty-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.list-cart-container .button-change-qty-items .product-form__input--quantity {
    padding: 0;
    border: 0;
    font-size: 14px;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: none;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.list-cart-container .cart__item-variant {
    margin-top: 2px;
}

.list-cart-container .cart__item-variant span {
    display: block;
    color: var(--grey);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-cart-container .cart__item-title {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list-cart-container .mincart__product-qty {
    margin-top: auto;
}

.cart__product-price {
    display: grid;
    gap: 4px;
}

.cart__product-price .price-mini-cart_sale {
    color: var(--grey5);
    text-decoration: line-through;
    font-size: 10px;
    display: block;
    text-align: right;
}

.cart__product-price .compare-price {
    font-size: 14px;
    color: var(--black);
    display: block;
    text-align: right;
}

.cart-thumbnail {
    max-width: 72px;
    flex-shrink: 0;
    width: 100%;
}

.minicart-actions {
    margin-top: 0;
    padding: 16px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
    order: 1;
}

.minicart-actions .minicart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.minicart-actions .minicart-total span {
    margin: 0;
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.minicart-actions .message_shipping p {
    margin: 0;
    color: var(--black);
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.minicart-actions .message_shipping {
    margin-bottom: 8px;
}

.minicart-button .btn_view_cart {
    background: var(--white);
    border: 1px solid var(--black);
    color: var(--black);
    margin-bottom: 16px;
}

.minicart-button .btn_view_cart:hover {
    color: var(--white);
}

.mini-cart-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 13px);
}

.mini-cart-content.no-item .list-cart-container .text-left {
    font-size: 14px;
    margin: 0;
    padding-top: 24px;
}

.minicart-product-related {
    padding: 0 16px;
    margin-top: auto;
    padding-top: 24px;
}

.minicart-product-related .card_box_quickview {
    display: none;
}

.minicart-product-related .slick-slide {
    padding: 0 6px;
}

.minicart-product-related .slick-list {
    margin: 0 -6px;
}

.minicart-product-related .card-information {
    display: none;
}

.minicart-product-related .card__information .card__heading.h5 {
    margin: 0;
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.minicart-product-related .card__badge span {
    font-size: 10px;
    top: 8px;
    right: 8px;
    width: 42px;
    height: 24px;
    padding: 0;
}

.minicart-product-related .card--standard .card__content {
    margin-top: 16px;
}

.minicart-product-related .slick-arrow {
    width: 32px;
    height: 32px;
    min-width: unset;
    padding: 0;
    background: none;
    border: 0;
}

.minicart-product-related .slick-arrow:hover {
    background: none;
}

.minicart-product-related .slick-arrow:hover svg rect {
    fill: var(--black);
}

.minicart-product-related .slick-arrow:hover svg path {
    stroke: var(--white);
}

.minicart_product_list {
    padding-bottom: 12px;
    margin-bottom: 16px;
}

.minicart-product-related .slick-arrow.slick-prev {
    position: absolute;
    bottom: 0;
    left: 0;
}

.minicart-product-related .slick-arrow.slick-next {
    position: absolute;
    bottom: 0;
    right: 0;
}

.minicart_product_list.slick-dotted .slick-dots {
    margin-top: 36px;
}

.minicart-product-related h3 {
    margin: 0;
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

/* Card product */
.card_box_quickview {
    position: absolute;
    top: 32px;
    left: 0;
    width: fit-content;
    height: fit-content;
    display: grid;
    gap: 16px;
    opacity: 0;
    transition-duration: .3s;
    visibility: hidden;
}

.card_box_quickview .btn {
    padding: 4px;
    background: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 0;
    outline: none;
    box-shadow: none;
    min-width: unset;
    max-width: none;
}

.card_box_quickview .btn:hover {
    background: var(--secondary-2);
}

.card_box_quickview .btn:hover svg path {
    stroke: var(--white);
}

.card-wrapper:hover .card_box_quickview {
    left: 32px;
    opacity: 1;
    visibility: visible;
}

.card_information_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.card_information_title__variants {
    display: flex;
    align-items: center;
    gap: 16px;
}

.card_information_title__variants .card_information_option {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.card_information_title__variants .card_information_option span {
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_information_title__variants .card_information_option.selected:before {
    content: "";
    width: 16px;
    height: 16px;
    background: #fff;
    display: block;
    border-radius: 50%;
    border: 1px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Quickview */
.form_quick_view {
    background: var(--white);
    padding: 24px;
    width: calc(100% - 32px);
    max-width: 812px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.form_quick_view .form_content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.form_quick_view .form_content_left {
    width: 100%;
    max-width: 417px;
    flex-shrink: 0;
    height: 417px;
}

.form_quick_view .form_content_left img {
    object-fit: cover;
    object-position: center;
}

.form_quick_view .form_content_right {
    width: 100%;
}

.form_quick_view .btn_close_quickview {
    padding: 0;
    border: 0;
    outline: none;
    box-shadow: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -20px;
    min-width: unset;
    border-radius: 0;
}

.form_quick_view .content_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_quick_view .content_title h3 {
    color: var(--black);
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.form_quick_view .content_quantity {
    margin-top: 16px;
}

.form_quick_view .content_quantity h4 {
    color: var(--black);
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 8px;
}

.form_quick_view .button-change-qty-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    max-width: 126px;
    height: 48px;
    border: 1px solid var(--grey3);
    border-radius: 4px;
}

.form_quick_view .button-change-qty-items span {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form_quick_view .content_quantity_atc {
    display: flex;
    gap: 15px;
}

.form_quick_view .button-change-qty-items input.product-form__input--quantity {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    min-width: unset;
    max-width: unset;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: none;
}

.form_quick_view .content_quantity_atc button.btn-primary {
    border: 1px solid var(--black);
    background: #fff;
    color: var(--black);
    border-radius: 4px;
    width: 100%;
}

.form_quick_view .content_quantity_atc button.btn-primary.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.form_quick_view .btn_buy_it_now {
    border: 0;
    margin-top: 16px;
    width: 100%;
}

.form_quick_view .btn_buy_it_now.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.form_quick_view .content_infor {
    margin-top: 16px;
}

.form_quick_view .content_infor p {
    margin: 0;
    color: var(--black);
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 8px;
}

.form_quick_view .content_infor p:last-child {
    margin-bottom: 0;
}

.form_quick_view .content_infor a {
    display: flex;
    align-items: center;
    text-decoration: unset;
    gap: 8px;
    margin: 0;
    color: var(--black);
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.form_quick_view .content_infor a:hover {
    text-decoration: underline;
}

.content_title_price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content_title_price span {
    color: var(--black);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.content_title_price .price_sale {
    color: var(--grey);
    text-decoration: line-through;
    font-size: 18px;
}

.quickview_loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 4;
}

.quickview_loading::before {
    content: "";
    display: block;
    background: rgba(35, 35, 35, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
}

.quickview_loading .load {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quickview_loading .load svg path {
    stroke: var(--white);
}

.form_quick_view .content_variants {
    margin-top: 16px;
}

.form_quick_view .content_variants .option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.form_quick_view .content_variants h4 {
    margin: 0;
    color: var(--black);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.form_quick_view .content_variants_options {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 8px;
}

.content_variants_options .quickview_option {
    padding: 0;
    background: #fff;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: 0;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}

.content_variants_options .quickview_option.selected::before {
    content: '';
    width: 38px;
    height: 38px;
    display: block;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    border-radius: 50%;
}

.content_variants_options .quickview_option span {
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}

@media screen and (max-width: 767px) {
    .form_quick_view .form_content {
        flex-wrap: wrap;
        gap: 0;
    }

    .form_quick_view .form_content_left,
    .form_quick_view .form_content_right {
        max-width: 100%;
        width: 100%;
    }

    .form_quick_view .form_content_right {
        margin-top: 16px;
    }

    .form_quick_view .form_content_left {
        height: 268px;
    }

    .form_quick_view .form_content_left img {
        object-fit: contain;
    }
}

